<!doctype html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="fi.css">
        <title>HOME</title>

    </head>

    <body class="back marg">


       <header>
           <div id="menu">
                <img src="online-bank.jpg" class="log">
        </div>

        <div id="nav">
            <ul>
                <li style="width:49.9%;"class="dropdown"> <a href="moneytrans.html" >Money transfer</a></li> 
                <li style="border-right: 0px !important; width:49.9%;"><a href="userlist.html">User List</a></li>
            </ul>
        </div>
        </header>
            <marquee style="margin-left: 15px;" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start()";><b>Click on Money trafer button it will show the money transfer page.
                <br>

                Click on user list button it will show the user list page.</b></marquee>

            <footer>
            <div>
                <ul>
                    <h4>Customer Service</h4>
                    <li class="icon2">Customer Care Numbers</li>
                </ul>

           </div>
               
        </footer>


    </body>
</html>
