<!doctype html>
<html>
    <head>
        <title>Userlist</title>
        <link type="text/css" rel="stylesheet" href="money.css">
        <script type="text/javascript" src="jquery.min.js" ></script>
        <script type="text/javascript" src="bootstrap.min.js" ></script>
        <script type="text/javascript" src="userlist.js" ></script>
        <link type="text/css" rel="stylesheet" href="bootstrap.min.css">
    </head>
   
    <body onload="load()" class="back">
        <header>
            <div id="menu">
                 <img src="online-bank.jpg" class="log">
         </div>
 
         <div id="nav">
             <ul>
                <li style="width:33.3%;"class="dropdown"> <a href="final.html">Home</a></li>
                 <li style="width:33.3%;"class="dropdown"> <a href="moneytrans.html">Money transfer</a></li>
                 <li style="border-right: 0px !important; width:33.1%;"><a href="userlist.html">User List</a></li>
             </ul>
         </div>
         </header>
        
        
            <form>
              <div id="table" style="min-height: 500px; padding: 15px;"></div>
        </form>
    
             
       
            <footer>
            <div>
                <ul>
                    <h4>Customer Service</h4>
                    <li class="icon2">Customer Care Numbers</li>
                </ul>
                
           </div>
                
                
        </footer>
    
    </body>
</html>